/**
    z-index:
     1 - normal level
     2 - rectangle
     3 - sidebar, toolbox
     4 - modal
*/

/* Rectangle */
.rectangle {
    position: absolute;
    border: 3px solid rgb(2, 155, 210);
    border-radius: 8px;
    /* This ensures the rectangle doesn't interfere with cursor movement */
    pointer-events: none;

    left: 0px;
    top: 0px;

    z-index: 2;

    transform-origin: 0 0;
}

.rectangle span {
    color: white;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    font-size: 50px;
    display: inline-block;
    background-color: rgb(2 155 210 / 70%);
    width: 65px;
    line-height: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    border: 3px solid rgb(2 155 210);
    position: relative;
    top: calc(50% - 32.5px);
    left: calc(50% - 32.5px);
}

.rectangle.frame.moveable {
    pointer-events: auto;
    /* Enable pointer events */
    cursor: grab;
}

body {
    margin: 0;
    overscroll-behavior-x: none;
}

.main {
    /* Take up all of the space */
    display: flex;
    height: 100vh;
    width: 100vw;

    overflow: hidden;
}

#toolbox {
    background-color: #525252;
    display: flex;
    flex-direction: column;
    width: 46px;
    padding: 5px 0;

    z-index: 3;
}

#toolbox span {
    width: 32px;
    height: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    margin: 3px 7px;

    cursor: pointer;
}

#toolbox span.selected {
    background-color: #373737;
}

#container {
    flex-grow: 1;

    overflow: hidden;
    position: relative;

    background-color: #262626;

    overscroll-behavior-x: none;
}

#sidebar {
    width: 350px;
    background-color: #525252;

    z-index: 3;

    display: flex;
    flex-direction: column;
}

#image {
    position: absolute;
    top: 0;
    left: 0;

    transform-origin: top left;
}

#frames {
    overflow-y: scroll;
}

.snapshot {
    height: 130px;
    display: flex;
    align-items: center;
    border: 1px solid #00000047;
    margin: 5px;
}

.snapshot span {
    font-size: 3em;
    padding: 10px;
    font-family: sans-serif;
}

.snapshot img {
    height: 130px;
}

#canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}

/* Modal */
#modal {
    display: initial;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;

    z-index: 4;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    top: 10%;
    left: calc(50% - 325px);
    width: 650px;
    height: 80%;
    border-radius: 10px;
    padding: 10px;
    background-color: #525252;
    z-index: 4;

    box-shadow: 0px 0px 10px 0px #292929;

    display: flex;
}

.modal-sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 0 0 10px;
}

.progress-container {
    width: 100%;
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #2e9ef7;
    border-radius: 10px;
    transition: width 0.3s;
}

#progressMessage {
    color: white;
}

#outputVideo {
    height: 100%;
    aspect-ratio: 9/16;
}

#outputVideo .feather {
    color: #ddd;
    width: 100px;
    height: 100px;
}

#outputVideo.loading {
    border: 5px dashed #ddd;
    box-sizing: border-box;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#outputVideo video {
    height: 100%;
    width: 100%;
}

.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

#closeModal {
    color: #ddd;
    margin-left: auto;
    cursor: pointer;
}
