/* Rectangle */
.rectangle {
    position: absolute;
    border: 3px solid rgb(2, 155, 210);
    border-radius: 8px;
    /* This ensures the rectangle doesn't interfere with cursor movement */
    pointer-events: none;

    left: 0px;
    top: 0px;

    z-index: 2;

    transform-origin: 0 0;
}

.rectangle span {
    color: white;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    font-size: 50px;
    display: inline-block;
    background-color: rgb(2 155 210 / 70%);
    width: 65px;
    line-height: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    border: 3px solid rgb(2 155 210);
    position: relative;
    top: calc(50% - 32.5px);
    left: calc(50% - 32.5px);
}

body {
    margin: 0;
}

#container {
    width: calc(100% - 350px);
    height: 100vh;
    overflow: hidden;
    position: relative;

    overscroll-behavior-x: none;
}

#image {
    position: absolute;
    top: 0;
    left: 0;

    transition: 'transform 0.3s ease-in-out';
}

#sidebar {
    height: 100vh;
    width: 350px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #e8d8cb;

    z-index: 3;

    display: flex;
    flex-direction: column;
}

#frames {
    overflow-y: scroll;
}

.snapshot {
    height: 130px;
    display: flex;
    align-items: center;
    border: 1px solid #00000047;
    margin: 5px;
}

.snapshot span {
    font-size: 3em;
    padding: 10px;
    font-family: sans-serif;
}

.snapshot img {
    height: 130px;
}

#canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}
